<div class="video-list">
  <div class="controls">
    <button
      (click)="toggleMovies()"
      [classList]="isToggleActive('movies') ? 'active' : ''"
    >
      Movies
    </button>
    <button
      (click)="toggleVideos()"
      [classList]="isToggleActive('videos') ? 'active' : ''"
    >
      Videos
    </button>
  </div>
  <div class="stats">
    <div *ngIf="viewToggle === 'movies'">{{ movies.length }} movies</div>
    <div *ngIf="viewToggle === 'videos'">{{ videos.length }} movies</div>
  </div>
  <div class="list-container" *ngIf="isToggleActive('movies')">
    <div class="list-item" *ngFor="let movie of movies">
      <a
        [href]="
          '/videos/watch' +
          '?fullPath=' +
          movie.fullPath +
          '&filename=' +
          movie.filename
        "
        ><div>{{ movie.filename }}</div></a
      >
      <div>{{ movie.size }}</div>
    </div>
  </div>
  <div class="list-container" *ngIf="isToggleActive('videos')">
    <div class="list-item" *ngFor="let video of videos">
      <a
        [href]="
          '/videos/watch' +
          '?fullPath=' +
          video.fullPath +
          '&filename=' +
          video.filename
        "
        ><div>{{ video.filename }}</div></a
      >
      <div>{{ video.size }}</div>
    </div>
  </div>
</div>
